[submodule ".registry"]
	path = .registry
	url = https://github.com/abeeisnotabug/abeeisnotabug.r-universe.dev
	branch = HEAD
[submodule "shinyCTT"]
	path = shinyCTT
	url = https://github.com/abeeisnotabug/shinyCTT
